.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.heading-desc h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 0.5;
  color: #3e334e;
}

.heading-desc p {
  color: #3e334e;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

form {
  color: #3e334e;
}

form .form-details {
  margin-bottom: 14px;
}

form .form-details label {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}

form .form-details > input,
.form-password-toggle {
  padding: 16px;
  width: 350px;
  font-size: 16px;
  gap: 4px;
  outline: none;
  border-radius: 8px;
  color: #3e334e;
  border: 1px solid #afa2c3;
  font-family: "Inter", sans-serif;
}

form .form-password-toggle {
  display: flex;
  justify-content: space-between;
}

form .form-password-toggle input {
  border-style: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  outline: none;
}

form .eye-toggle {
  text-align: end;
  color: #b2a6c5;
}

form .form-foot {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

:is(form .form-foot label, form .form-foot a) {
  font-size: 14px;
  color: #3e334e;
  font-family: "Inter", sans-serif;
}

input[type="checkbox"] {
  accent-color: #9ca3af;
  margin-right: 10px;
}
