.accordion {
  width: 350px;
  border: 1px solid #eeeff0;
  border-radius: 8px;
  padding: 35px 25px 15px;
}

.accordion-item {
  padding: 0 20px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #eeeff0;
  border-radius: 12px;
}

.accordion-item::selection {
  color: none;
}

.accordion-details {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
}

.accordion-details h5 {
  font-weight: 600;
}

.accordion-icon {
  text-align: end;
  color: #4b5563;
}

.accordion-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-foot span {
  font-size: 13px;
  margin-right: 5px;
  color: #4b5563;
}

.accordion-foot .available {
  background-color: #f0f7f7;
  color: #006869;
  border: 1px solid #087f5b;
  border-radius: 20px;
  padding: 3px 12px;
  display: flex;
  align-items: center;
}

.accordion-foot .unavailable {
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 3px 12px;
  display: flex;
  align-items: center;
}

.module-disabled {
  background-color: #f3f4f6;
  pointer-events: none;
  color: #6b7280;
}

.accordion-content-box {
  font-size: 12px;
  padding-top: 16px;
}

.accordion-content-box p {
  padding: 14px 30px;
  background-color: #eeeff0;
  border: 1px solid #087f5b;
  border-radius: 12px;
}

.accordion-content-box p span {
  font-weight: 600;
  font-size: 14px;
}

/* OPEN STATE */
.accordion-open {
  border: none;
}

.accordion-open .accordion-details,
.accordion-open .accordion-foot span {
  color: #087f5b;
}
