@font-face {
  font-family: "MetaPro";
  src: url("../../fonts/FFMetaProCondBd.TTF") format("truetype"),
    url("../../fonts/FFMetaProCondBlk.TTF") format("truetype"),
    url("../../fonts/FFMetaProCondMed.TTF") format("truetype"),
    url("../../fonts/FFMetaProRegular.TTF") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

/* Main Content Area */
main {
  margin-left: 251px;
  box-sizing: border-box;
  overflow-y: auto;
}

.side-content-body {
  padding: 25px;
  font-family: "MetaPro Regular", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  row-gap: 5px;
  grid-template-areas: "main aside";
  color: #405855;
}

.main-content-one p {
  font-size: 13px;
}

.main-content-one h2 {
  font-family: "MetaPro Bold", sans-serif;
  color: #0e1f1d;
  font-weight: 900;
}

:is(.main-content-two, .main-content-three) {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
}

.main-content-two {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "classes time current"
    "report report report";
}

.main-content-three {
  grid-template-rows: auto;
  grid-template-areas: "featured featured featured";
}

.classes {
  grid-area: classes;
}

.time {
  grid-area: time;
}

.current {
  grid-area: current;
}

.report {
  grid-area: report;
  border: 1px solid #dde1e6;
  height: 70vh;
  border-radius: 8px;
}

.performance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.select {
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-family: "MetaPro Regular", sans-serif;
  border: 1px solid #dde1e6;
  color: #405855;
}

.featured {
  grid-area: featured;
  height: 65vh;
  border: 1px solid #dde1e6;
  border-radius: 8px;
  padding: 0 10px;
  overflow: auto;
}

.featured .featured-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.featured .featured-heading h5 {
  color: #11a75c;
}

.featured-grid {
  margin-top: 14px;
}

.featured .recent-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.box-style {
  border: 1px solid #dde1e6;
  padding: 0 10px;
  border-radius: 8px;
}

.boxDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
}

.boxDesc h3 {
  line-height: 0.1;
  color: #008688;
  font-size: 22px;
}

.boxDesc h3 span {
  color: #405855;
  font-size: 13.28px;
}

.boxDesc .course-title {
  display: flex;
  margin: auto;
  column-gap: 20px;
}

.boxDesc .course-title .title {
  font-size: 12px;
  color: #0e1f1d;
  font-weight: 900;
}

.boxDesc .overview .title {
  font-weight: 400;
  color: #6b7280;
  font-size: 12px;
}

.boxDesc .overview .overview-report {
  font-size: 16px;
}

.boxDesc .course-title .left-top-2 {
  font-size: 10px;
  background: #1db4691f;
  color: #11a75c;
  padding: 3px 8px;
  border-radius: 5px;
}

.boxDesc .course-title .left-top-2 .hidden {
  visibility: hidden;
}

.boxDesc .course-details h3 span {
  font-weight: 400;
  color: #6b7280;
  font-size: 12px;
}

.icon-classes {
  background: #d7e8e559;
}

.icon-time {
  background: #e8e7d759;
}
.icon-current {
  background: #e2d7e859;
}

.progressStyle {
  padding: 10px 12px 5px;
  border-radius: 14px;
  background: #f2f4f8;
}

.resources {
  grid-area: resources;
}

.aside {
  grid-area: aside;
  border: 1px solid #dde1e6;
  border-radius: 8px;
}

.header {
  align-items: center;
}

.inputs {
  border: none;
  display: flex;
  justify-content: space-between;
}

.upcoming {
  padding: 15px;
}

.upcoming .icon-radio {
  background-color: #fff;
  padding: 4px;
  border-radius: 8px;
}

.upcoming .line {
  margin: 20px 0;
  border-bottom: 1px solid #dde1e6;
}

.upcoming-classes {
  margin-top: 20px;
  max-height: 240px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.upcoming-classes::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.upcoming-classes::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.upcoming-classes::-moz-scrollbar {
  display: none;
}

.live-class {
  color: #008688;
  background: #f3f8f8;
  text-align: center;
  padding: 20px 12px;
  border-radius: 12px;
}

.live-class h4 {
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    color: #239294;
  }
  50%,
  75% {
    opacity: 1;
    color: #008688;
  }
  100% {
    opacity: 0;
    color: #117072;
  }
}

.upcoming-classes .course-card {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.upcoming-classes .course-card .course-card-title {
  font-size: 12px;
}

.upcoming-classes .course-card .course-card-time {
  font-size: 10px;
}

.total-resources {
  padding: 0 20px;
  width: 80%;
}

.total-resources .doughnut {
  margin: auto;
}

.total-resources .chart-details {
  margin: 20px 0 10px;
}

.total-resources .chart-details .files {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
