.steps {
  max-width: 100%;
  border-radius: 7px;
  margin: auto;
  margin-top: 20px;
}

.steps .numbers {
  display: flex;
  border-bottom: 1px solid #dde1e6;
}

/* .steps .step-message {
  height: 60vh;
  overflow-y: scroll;
} */

.steps .numbers div {
  margin-right: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #4b5563;
}

.steps .numbers .active {
  color: #008688;
  border-bottom: 4px solid #008688;
  font-weight: 600;
}

.steps .step-title:hover {
  cursor: pointer;
  color: #06a5a6;
  font-weight: 600;
}

.steps .message {
  font-size: 13px;
  margin: 40px 0 20px;
  color: #4b5563;
}

/* Module Description section */
.module-desc div {
  margin-bottom: 40px;
}

.module-desc div h4,
.module-desc-assessment h4 {
  font-size: 13px;
  font-weight: 900;
  line-height: 0;
  color: #000;
}

.assessment-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}

.module-course-box-desc {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.module-course-box-desc .course-steps-details .course-title {
  display: flex;
  column-gap: 8px;
}

.module-course-box-desc .course-steps-details .course-title .title {
  font-size: 13px;
  width: 60%;
  margin-bottom: 14px;
}

.module-course-box-desc .course-steps-details .title {
  font-weight: 900;
}

.module-course-box-desc .course-steps-details .left-details {
  margin-right: 5px;
}

.module-course-box-desc .course-steps-details .first-left-details-group {
  margin-right: 14px;
}

.module-course-box-desc .course-steps-details .module-duration {
  font-size: 10px;
  color: #868f8f;
}

.module-course-box-desc .course-title .left-top-2-1 {
  font-size: 10px;
  background: #fff9df;
  color: #d8a800;
  padding: 3px 8px;
  border-radius: 5px;
}

.module-course-box-desc .course-title .left-top-2-2 {
  font-size: 10px;
  color: #008688;
  background-color: #1db4691f;
  padding: 3px 8px;
  border-radius: 5px;
}

.module-course-box-desc .progress-style {
  border: 1px solid #008688;
  padding: 5px 7px 3px;
  border-radius: 12px;
}

/* Resources step */
.resources-content h4 {
  color: #000;
}

.course-steps-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 30px;
}

/* Assignment step */
.empty-assignment {
  text-align: center;
}

.empty-assignment h4 {
  font-weight: 900;
  font-size: 15px;
  color: #0e1919;
}

.file-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fbfbfc;
  margin: 10px 0 30px;
}

.file-container .assignment-step {
  display: flex;
  justify-content: space-between;
}

.file-container .assignment-step h3 {
  font-weight: bold;
  color: #000;
}

.file-container .assignment-step .deadline {
  color: #d8a800;
  background-color: #fff9df;
  padding: 2px 8px;
  border-radius: 15px;
}

.file-container .assignment-step .marked {
  color: #11a75c;
  background-color: #1db4691f;
  padding: 2px 8px;
  border-radius: 15px;
}

.file-container .file {
  text-decoration: none;
  color: #000;
  padding: 5px;
  display: inline-block;
  width: 60%;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.file-container a:hover {
  border: 1px solid #45a049;
}

.file-container span {
  display: block;
}

.file-container .file-type .file-name {
  margin-bottom: 20px;
  font-weight: 900;
}

.file-container .file-type .file-format {
  color: #6b7280;
  font-size: 10px;
}

.file-container .file {
  display: flex;
}

.file-container .file-preview {
  width: 15%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 15px;
}

.file-container .assignment-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-container .assignment-foot .assignment-btn {
  width: 50%;
  text-align: end;
}

/* Text Editor For Notes */
.notes-contents .add-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid #ecedee;
  border-radius: 12px;
  background-color: #ecedee;
}

.notes-contents .add-note .add-time {
  color: #8a8e96;
  font-size: 14px;
}

.notes-contents .previous-notes .questions {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #e5e7eb;
}

/* .notes-contents .previous-notes .questions-image {
  background: #dcecec;
  padding: 5px 15px;
  width: 4%;
  height: 12%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
} */

.notes-contents .previous-notes .user-image {
  width: 70%;
  border-radius: 50%;
}

.notes-contents .previous-notes .user-tag {
  color: #000;
  font-size: 14px;
  line-height: 0;
}

.notes-contents .previous-notes .questions .user-question {
  color: #363333;
  margin-bottom: 10px;
}

.notes-contents .previous-notes .user-response {
  margin-left: 20px;
  font-size: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 10px;
  width: 60%;
  color: #868f8f;
}

.notes-contents .previous-notes .user-times {
  font-size: 12px;
  color: #868f8f;
}

.notes-contents .previous-notes .user-times-date {
  margin-right: 10px;
}

.notes-contents .add-note .add-icon {
  font-weight: 800;
  box-shadow: 0px 1px 0px 0px #d7dfe9;
  border: 1px solid #06a5a6;
  background: linear-gradient(0deg, #eff6f5, #eff6f5),
    linear-gradient(0deg, #06a5a6, #06a5a6);
  padding: 5px;
  border-radius: 12px;
}

.notes-contents .add-note .add-icon-container:hover,
.note-edit-delete .note-edit:hover,
.note-edit-delete .note-delete:hover {
  cursor: pointer;
}

.notes-contents .empty-notes {
  text-align: center;
  margin-top: 50px;
}

.notes-contents .empty-notes h4 {
  font-weight: 900;
  font-size: 15px;
  color: #0e1919;
}

.notes-contents .created-note {
  margin-bottom: 30px;
}

.notes-contents .previous-notes {
  margin-top: 70px;
}

.created-note .note-details {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.created-note .note-details .note-time span {
  margin-right: 20px;
  background-color: #008688;
  color: #fcfcfc;
  padding: 5px 18px 10px;
  border-radius: 12px;
}

.created-note .note-details .note-reminder .note-reminder-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.created-note .note-details .note-reminder .note-reminder-header .note-delete {
  margin-left: 16px;
}

.created-note .note-details .note-reminder .note-created {
  border: 1px solid #ddd;
  padding: 5px 15px;
  height: 7vh;
  overflow-y: scroll;
  border-radius: 12px;
  background-color: #fcfcfc;
}

.notes-contents .empty-notes p {
  font-size: 14px;
  color: #4b5563;
}

.quill-btns {
  line-height: 0;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.quill {
  font-family: "MetaPro Regular";
  color: #008688;
  border: none;
  outline: none;
  /* border-radius: 12px; */
}

.quill .ql-toolbar,
.quill .ql-snow {
  border: none;
}

.quill .ql-toolbar {
  border-bottom: 1px solid #e5e7eb;
  background-color: #f8f9fc;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ql-snow .ql-editor {
  border: none;
  background-color: #f8f9fc;
  box-sizing: border-box;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
  color: #333;
  padding: 20px;
  font-family: "MetaPro Regular";
  height: 100px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ql-snow .ql-editor p {
  margin-bottom: 12px;
}

.ql-toolbar .ql-formats .ql-picker-label {
  color: #06a5a6;
  font-size: 13px;
  background-color: #f3f8f8;
}

.ql-toolbar .ql-formats .ql-picker-label:hover {
  color: #06a5a6;
  background-color: #f3f8f8;
}

.ql-toolbar .ql-formats .ql-bold .ql-stroke,
.ql-toolbar .ql-formats .ql-italic .ql-stroke,
.ql-toolbar .ql-formats .ql-underline .ql-stroke,
.ql-toolbar .ql-formats .ql-underline .ql-fill,
.ql-toolbar .ql-formats .ql-strike .ql-fill,
.ql-toolbar .ql-formats .ql-strike .ql-stroke,
.ql-toolbar .ql-formats .ql-strike .ql-thin,
.ql-toolbar .ql-formats .ql-clean .ql-stroke,
.ql-toolbar .ql-formats .ql-clean .ql-fill,
.ql-toolbar .ql-formats .ql-picker-label .ql-stroke,
.ql-toolbar .ql-formats .ql-picker-options .ql-picker-item,
.ql-toolbar .ql-formats .ql-picker-options .ql-selected {
  stroke: #06a5a6;
  color: #06a5a6;
  font-size: 13px;
  background-color: #f3f8f8;
}

.ql-toolbar .ql-formats button {
  margin-right: 5px;
}

.ql-toolbar .ql-formats .ql-bold .ql-stroke:hover,
.ql-toolbar .ql-formats .ql-italic .ql-stroke:hover,
.ql-toolbar .ql-formats .ql-underline .ql-stroke,
.ql-toolbar .ql-formats .ql-underline .ql-fill,
.ql-toolbar .ql-formats .ql-strike .ql-fill,
.ql-toolbar .ql-formats .ql-strike .ql-stroke,
.ql-toolbar .ql-formats .ql-strike .ql-thin,
.ql-toolbar .ql-formats .ql-list .ql-stroke,
.ql-toolbar .ql-formats .ql-link .ql-stroke,
.ql-toolbar .ql-formats .ql-image .ql-stroke,
.ql-toolbar .ql-formats .ql-image .ql-fill,
.ql-toolbar .ql-formats .ql-image .ql-even,
.ql-toolbar .ql-formats .ql-picker-label .ql-stroke:hover {
  stroke: #06a5a6;
  font-size: 13px;
  background-color: #f3f8f8;
  border-radius: 5px;
}

.ql-toolbar .ql-formats .ql-active {
  stroke: #06a5a6;
  font-size: 13px;
  background-color: #d7eeee;
  border-radius: 5px;
}

.ql-font option[value]:hover {
  color: #008688;
}
