nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  padding: 20px 25px 13px;
  border-bottom: 1px solid #dde1e6;
}

nav .search {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  padding: 5px;
  border-radius: 8px;
  background: linear-gradient(0deg, #f1f5f9, #f1f5f9),
    linear-gradient(0deg, #f8fafb, #f8fafb);
}

nav .search .search-icon {
  padding-left: 5px;
}

nav .search input {
  font-family: "MetaPro Regular", sans-serif;
  border-style: none;
  outline: none;
  width: 90%;
  padding: 7px 10px;
  background: linear-gradient(0deg, #f1f5f9, #f1f5f9),
    linear-gradient(0deg, #f8fafb, #f8fafb);
}

nav .icons {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "MetaPro Regular", sans-serif;
}

nav .icons .icon {
  margin-right: 10px;
}

nav .icons .split-icons {
  margin-right: 25px;
}

nav .icons .other-icons {
  background: #dcecec;
  border-radius: 16px;
  padding: 8px 4px 8px 10px;
  width: 8%;
}

nav .icons .user {
  background: #dcecec;
  padding: 2px 10px;
  width: 8%;
  height: 8%;
  border-radius: 50%;
  overflow: hidden;
}

nav .icons .user-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}

nav .icons .user-info {
  color: #405855;
  line-height: 0;
  font-size: 11px;
}

nav .icons .user-name {
  font-size: 13px;
  font-family: "MetaPro Bold", sans-serif;
  font-weight: 600;
}

nav .icons .icon .chat {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: 18px;
  right: 280px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #fb7b7b;
  border-radius: 50%;
  font-family: "MetaPro Regular", sans-serif;
}

nav .icons .icon .notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: 18px;
  right: 230px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #fb7b7b;
  border-radius: 50%;
  font-family: "MetaPro Regular", sans-serif;
}

/* Navbar for Quiz */
.quiz-navbar {
  gap: 20px;
}

.quiz-navbar .quiz-navbar-logo img {
  width: 50%;
}

.quiz-navbar .quiz-navbar-logo {
  margin: 0;
}

.quiz-navbar .quiz-navbar-countdown {
  text-align: center;
  display: flex;
  gap: 12px;
  margin: auto;
  font-family: "MetaPro Regular", sans-serif;
}

.quiz-navbar .quiz-navbar-countdown span {
  border: 1px solid #058b8d;
  border-radius: 8px;
  padding: 10px 0;
  width: 150px;
  color: #058b8d;
  background-color: #f3f8f8;
  font-weight: bold;
}

.quiz-navbar .quiz-navbar-countdown .time-remaining {
  font-size: 20px;
}

.quiz-navbar .icons .other-icons {
  padding: 8px 0 8px 10px;
}

.quiz-navbar .icons .icon .chat {
  top: 18px;
  right: 290px;
}

.quiz-navbar .icons .icon .notifications {
  top: 18px;
  right: 235px;
}
