/* Practice Quiz step */
/* Grid view */
.assessment-steps .practice-notice {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #008688;
  border-radius: 12px;
  padding: 10px 20px;
}

.assessment-steps .practice-notice h4 {
  color: #008688;
}

.assessment-steps .practice-notice span {
  font-size: 16px;
  font-weight: 900;
}

.my-assessments {
  padding-top: 30px;
}

.my-assessments h4 {
  color: #000;
  font-size: 16px;
}

.my-assessments .my-classes .session .session-icon {
  background: #f4fafb;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.my-assessments .my-classes .session .session-icon.active {
  border-color: #008688;
}

.my-assessments .my-classes .session .session-sort {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 8px;
}

.my-assessments .my-classes .session .session-sort > span {
  font-size: 14px;
  cursor: default;
}

.my-assessments .all-assessments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 20px;
}

.my-assessments .all-assessments .courses-card {
  width: 250px;
  height: 370px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #fff;
}

.my-assessments .all-assessments .courses-card .course-image {
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  text-align: center;
  background: linear-gradient(0deg, #e8efeb, #e8efeb),
    linear-gradient(0deg, #f0f0f0, #f0f0f0);
}

.my-assessments .all-assessments .courses-card .course-image img {
  width: 90%;
  border-radius: 8px;
  object-fit: contain;
  transition: transform 0.4s;
}

.my-assessments .all-assessments .courses-card .course-image img:hover {
  transform: scale(1.2);
}

.my-assessments .all-assessments .courses-card .course-details {
  padding: 10px 12px 0;
}

.my-assessments .all-assessments .courses-card .course-details .course-title {
  height: 5vh;
}

.my-assessments .all-assessments .courses-card .course-details .course-label {
  color: #000;
  font-size: 11px;
  margin-right: 3px;
}

.all-assessments .courses-card .course-details .course-units {
  margin-right: 13px;
}

.all-assessments .courses-card .btn-on,
table .btn-on {
  color: #008688;
  border: 1px solid #008688;
  padding: 10px 12px;
  border-radius: 8px;
  background: none;
  font-family: "MetaPro Regular", sans-serif;
  font-weight: 900;
}

.all-assessments .courses-card .btn-on,
.all-assessments .courses-card .btn-off {
  margin: 12px 12px 0;
}

.all-assessments .courses-card .btn-on:hover,
table .btn-on:hover {
  color: #fff;
  background-color: #008688;
}

.all-assessments .courses-card .btn-off,
table .btn-off {
  color: #8f8f91;
  border: 1px solid #8f8f91;
  padding: 10px 12px;
  border-radius: 8px;
  background: none;
  font-family: "MetaPro Regular", sans-serif;
}

/* Unavailable courses */
.all-assessments .courses-card {
  position: relative;
}

.all-assessments .courses-card.unavailable {
  pointer-events: none;
}

.all-assessments .courses-card.unavailable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202928a6;
  z-index: 1;
  border-radius: 12px;
}

.all-assessments .unavailable-overlay {
  position: absolute;
  place-content: center;
  text-align: center;
  z-index: 2;
  top: 25%;
  font-size: 15px;
  font-weight: bold;
  padding: 0 16px;
  color: #fff;
}

/* List View */
table {
  font-family: "MetaPro Regular", sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}

.availability-icon {
  display: flex;
  align-items: center;
  gap: 6px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  height: 10vh;
}

tr:nth-child(even) {
  background-color: #f4fafb;
}

tr:hover {
  background-color: #d6eeee;
}

.table th,
.table td {
  border: none;
  padding: 8px;
}

.table th {
  background-color: #f4fafb;
}

table .available {
  color: #000;
}

table .unavailable {
  color: #8f8f91;
  pointer-events: none;
}

.availability-icon {
  position: relative;
}

.availability-icon .tooltip {
  display: none;
  position: absolute;
  bottom: 30px;
  color: #000;
  padding: 5px 8px;
  background-color: #3e3d3d;
  border-radius: 15px;
  border: 1px solid #f2f2f2;
  width: 150%;
  text-align: center;
}

.availability-icon .tooltip h4 {
  font-size: 14px;
  color: #e9e4e4;
}

.availability-icon .tooltip p {
  color: #b3b3b9;
  font-weight: 100;
  font-size: 13px;
}

.availability-icon.tooltip-visible .tooltip {
  display: block;
}

/* Assignment step */
.assessment-assignment-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.assessment-assignment-menu .menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assessment-assignment-menu .menu-link .menu-icon {
  margin-right: 8px;
  font-family: "MetaPro Bold", sans-serif;
  font-weight: 700;
}

.assessment-assignment-menu .count {
  border: 1px solid #f53a51;
  background-color: #f53a51;
  color: #fff;
  padding: 3px 8px 4px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
}

.assessment-assignment-section {
  padding: 0 20px;
  font-family: "MetaPro Regular", sans-serif;
}

.assessment-assignment-steps {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 10px;
}

.assessment-assignment-steps .all-steps {
  border-right: 1px solid #dde1e6;
  padding: 0 12px;
}

.step-content {
  height: 55vh;
  overflow-y: scroll;
}

.assessment-assignment-steps .all-steps .step-title {
  padding: 3px 12px;
  color: #000;
}

.step-title-container {
  margin-bottom: 20px;
}

.step-title-container p {
  color: #8f8f91;
}

.assessment-assignment-steps .all-steps .active {
  border: 1px solid #f4f4f4;
  border-radius: 12px;
  color: #374151;
  font-weight: 600;
  background-color: #f4f4f4;
}

.assessment-assignment-steps .all-steps .step-title:hover {
  cursor: pointer;
  color: #008688;
  font-weight: 600;
}

.assessment-assignment-steps .message {
  font-size: 13px;
  margin: 0;
  color: #4b5563;
}

/* Assignment step */
.empty-assignment {
  text-align: center;
  padding-top: 40px;
}

.assignment-file-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fbfbfc;
  margin: 10px 0 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.assessment-assignment-section .file-container .question .question-due {
  display: flex;
  gap: 7px;
  font-size: 11px;
}

.assessment-assignment-section .file-container .question .question-due span {
  font-weight: 900;
}

.assignment-file-container .assignment-file-container-date {
  padding: 30px 20px;
  border: 1px solid #f3f8f8;
  border-radius: 12px;
  background-color: #f3f8f8;
}

.assignment-file-container .assignment-file-container-date span {
  margin-bottom: 10px;
}

.assignment-file-container .assignment-file-container-date .date-number {
  font-size: 20px;
  font-weight: 800;
}

.assignment-file-container .assignment-file-step {
  display: flex;
  justify-content: space-between;
}

.assignment-file-container .assignment-file-step h3 {
  font-weight: bold;
  color: #000;
}

.assignment-file-container .assignment-file-step .deadline {
  color: #d8a800;
  background-color: #fff9df;
  padding: 2px 8px;
  border-radius: 15px;
}

.assignment-file-container .assignment-file-step .marked {
  color: #11a75c;
  background-color: #1db4691f;
  padding: 2px 8px;
  border-radius: 15px;
}

.assignment-file-container .assignment-file-step .almost-expired {
  color: #ff3838;
  background-color: #fff5f4;
  padding: 2px 8px;
  border-radius: 15px;
}

.assignment-file-container .file {
  text-decoration: none;
  color: #000;
  padding: 5px;
  display: inline-block;
  width: 60%;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.assignment-file-container a:hover {
  border: 1px solid #45a049;
}

.assignment-file-container span {
  display: block;
}

.assignment-file-container .file-type .file-name {
  margin-bottom: 20px;
  font-weight: 900;
}

.assignment-file-container .file-type .file-format {
  color: #6b7280;
  font-size: 10px;
}

.assignment-file-container .file {
  display: flex;
}

.assignment-file-container .file-preview {
  width: 15%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 15px;
}

.assignment-file-container .assignment-file-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignment-file-container .assignment-file-foot .assignment-file-btn {
  width: 50%;
  text-align: end;
}

.assessment-assignment-section .file-container .line {
  border-bottom: 1px solid #e5e7eb;
  padding-top: 25px;
}

.assessment-assignment-section .file-container .submit-assignment {
  padding-top: 15px;
  width: 100%;
}

.assessment-assignment-section .file-container .submit-assignment h4 {
  color: #000;
}

.assessment-assignment-section .file-container .submit-assignment textarea {
  width: 90%;
  border: 1px solid #e5e7eb;
  outline: none;
  padding: 20px;
  font-family: "MetaPro Regular", sans-serif;
  border-radius: 8px;
}

.assessment-assignment-section .file-container .drag-drop {
  height: 30vh;
  padding: 20px;
  width: 90%;
  border: 2px dashed #e5e7eb;
  margin-top: 20px;
  background: none;
  border-radius: 8px;
  display: grid;
  place-content: center;
  text-align: center;
}

.assessment-assignment-section .file-container .pointer-events {
  cursor: pointer;
}

.assessment-assignment-section .file-container .no-pointer-events {
  pointer-events: none;
}

.assessment-assignment-section .file-container .drag-drop:hover {
  color: #008688;
  border-color: #008688;
  background-color: #fff;
}

.assessment-assignment-section .file-container .drag-drop .drag-drop-upload {
  color: #008688;
}

.assessment-assignment-section .file-container .assignment-submit-btn {
  text-align: center;
  margin-top: 40px;
}

.assignment-submit-btn .btn-on {
  color: #008688;
  border: 1px solid #008688;
  padding: 12px 40px;
  border-radius: 8px;
  background: none;
  font-family: "MetaPro Regular", sans-serif;
  width: 30%;
  font-weight: 900;
}

.assignment-submit-btn .btn-off {
  color: #9ca3af;
  border: 1px solid #e5e7eb;
  width: 30%;
  padding: 12px 40px;
  border-radius: 8px;
  background: #e5e7eb;
  font-family: "MetaPro Regular", sans-serif;
  pointer-events: none;
  font-weight: 900;
}

.assignment-submit-btn .btn-on:hover {
  color: #fff;
  background-color: #008688;
}
